body {
    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
    background-image: url('../img/background.png');
    background-size: 100%;
    background-repeat: repeat-y;
}

.order {
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
}